
<mat-list>
    <mat-list-item>
        <button class="center" mat-stroked-button color="accent" routerLink="Кухня">ЇСТИ</button>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <button class="center" mat-stroked-button  color="primary" routerLink="Бар">ПИТИ</button>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <button  class="center" mat-stroked-button  color="primary" routerLink="Настільні_Ігри">НАСТІЛЬНІ ІГРИ</button>
    </mat-list-item>
  </mat-list>

<router-outlet></router-outlet>