<mat-drawer-container class="concrete-items-container">
  <mat-drawer #drawer class="side-container" mode="side" opened>
    <div *ngFor="let category of categories">
      <button mat-stroked-button (click)="drawer.toggle()" routerLink="{{ category }}">
        {{ category }}
      </button>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
      <button mat-stroked-button id="toggle" type="button" mat-button (click)="drawer.toggle()">
        >
      </button>
  </mat-drawer-content>
</mat-drawer-container>
