<mat-expansion-panel draggable="false" >
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{productName}}
        </mat-panel-title>
        <mat-panel-description>
            {{productPrice}}
        </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-action-row class="action">
        <button mat-raised-button (click)="onDecreaseClicked()">-</button>
        <p>{{itemsCount}}</p>
        <button mat-raised-button (click)="onIncreaseClicked()">+</button>
        <button mat-raised-button (click)="onAddToCartClicked()">Додати</button>
      </mat-action-row>
    <p id="description">{{productDescription}}</p>
</mat-expansion-panel>
    